* {
  margin: 0%;
  padding: 0%;
}

body {
  overflow: hidden;
}

.layer {
  height: 52vh;
  width: 11vw;
  display: inline-block;
  margin: 0%;
  padding: 0%;
  position: relative;
  z-index: 1;
}

.pallete {
  height: 60vh;
  margin: 0%;
  padding: 0%;
  position: relative;
  top: 47.6vh;
  margin-left: 0.4vw;
}

.layer_1 {
  animation: top 2s ease-in-out infinite both;
  background-image: repeating-radial-gradient(
    circle at 50% 200%,
    darkblue 0vh 0.2vh,
    skyblue 0.4vh 0.6vh,
    darkblue 0.8vh 1vh
  );
}

.layer_2 {
  animation: bottom 2s ease-in-out infinite both;
  background-image: repeating-radial-gradient(
    circle at 50% -100%,
    darkblue 0vh 0.2vh,
    skyblue 0.4vh 0.6vh,
    darkblue 0.8vh 1vh
  );
}

@keyframes top {
  to {
    background-image: repeating-radial-gradient(
      circle at 50% -100%,
      darkblue 0vh 0.2vh,
      skyblue 0.4vh 0.6vh,
      darkblue 0.8vh 1vh
    );
  }
}

@keyframes bottom {
  to {
    background-image: repeating-radial-gradient(
      circle at 50% 200%,
      darkblue 0vh 0.2vh,
      skyblue 0.4vh 0.6vh,
      darkblue 0.8vh 1vh
    );
  }
}

.sunlight {
  width: 100vw;
  height: 100vh;
  animation: sunlight 2s ease-in-out infinite both;
}

.sun {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  position: absolute;
  right: 4.6vh;
  top: 12vh;
  animation: sun 2s ease-in-out infinite both;
}

@keyframes sunlight {
  from {
    background-image: repeating-conic-gradient(
      at 90% 30%,
      rgba(255, 208, 0, 1) 0deg 26deg,
      rgba(252, 104, 35, 1) 26deg 36deg,
      rgba(240, 77, 1, 1) 36deg 45deg,
      rgba(253, 149, 0, 1) 45deg 60deg
    );
  }

  25% {
    background-image: repeating-conic-gradient(
      at 90% 30%,
      rgba(252, 104, 35, 1) 0deg 26deg,
      rgba(240, 77, 1, 1) 26deg 36deg,
      rgba(253, 149, 0, 1) 36deg 45deg,
      rgba(255, 208, 0, 1) 45deg 60deg
    );
  }

  50% {
    background-image: repeating-conic-gradient(
      at 90% 30%,
      rgba(240, 77, 1, 1) 0deg 26deg,
      rgba(253, 149, 0, 1) 26deg 36deg,
      rgba(255, 208, 0, 1) 36deg 45deg,
      rgba(252, 104, 35, 1) 45deg 60deg
    );
  }

  to {
    background-image: repeating-conic-gradient(
      at 90% 30%,
      rgba(253, 149, 0, 1) 0deg 26deg,
      rgba(255, 208, 0, 1) 26deg 36deg,
      rgba(252, 104, 35, 1) 36deg 45deg,
      rgba(240, 77, 1, 1) 45deg 60deg
    );
  }
}

@keyframes sun {
  from {
    background-image: repeating-radial-gradient(
      rgba(255, 208, 0, 1) 0vh 2vh,
      rgba(252, 104, 35, 1) 2vh 4vh,
      rgba(240, 77, 1, 1) 4vh 6vh,
      rgba(253, 149, 0, 1) 6vh 8vh
    );
    border: 2vh solid indianred;
  }

  25% {
    background-image: repeating-radial-gradient(
      rgba(252, 104, 35, 1) 0vh 2vh,
      rgba(240, 77, 1, 1) 2vh 4vh,
      rgba(253, 149, 0, 1) 4vh 6vh,
      rgba(255, 208, 0, 1) 6vh 8vh
    );
    border: 2vh solid darkgoldenrod;
  }

  50% {
    background-image: repeating-radial-gradient(
      rgba(240, 77, 1, 1) 0vh 2vh,
      rgba(253, 149, 0, 1) 2vh 4vh,
      rgba(255, 208, 0, 1) 4vh 6vh,
      rgba(252, 104, 35, 1) 6vh 8vh
    );
    border: 2vh solid indianred;
  }

  to {
    background-image: repeating-radial-gradient(
      rgba(253, 149, 0, 1) 0vh 2vh,
      rgba(255, 208, 0, 1) 2vh 4vh,
      rgba(252, 104, 35, 1) 4vh 6vh,
      rgba(240, 77, 1, 1) 6vh 8vh
    );
    border: 2vh solid darkgoldenrod;
  }
}

.fish,
.boat {
  position: absolute;
  z-index: 1;
}

.fish {
  text-shadow: 2vh 2vh 10vh rgb(0, 47, 255), -1vh -1vh 4vh rgb(0, 221, 255);
}

.boat {
  text-shadow: 1vh 1vh 4vh rgb(2, 35, 167), -2vh -2vh 6vh rgb(168, 110, 255);
}

.fish1 {
  top: 47vh;
  left: 2vw;
  font-size: 13vh;
  animation: 25s ease-in-out infinite forwards fish_motion;
}

.fish2 {
  top: 67vh;
  left: 20vw;
  font-size: 8vh;
  animation: 15s ease-in-out infinite forwards fish_motion;
}

.octopus {
  top: 48vh;
  left: 40vw;
  font-size: 13vh;
  animation: 13s ease-in-out infinite forwards fish_motion;
}

.pufferfish {
  top: 62vh;
  left: 45vw;
  font-size: 9vh;
  animation: 18s ease-in-out infinite forwards fish_motion;
}

.boat1 {
  top: 67vh;
  left: 3vw;
  font-size: 15vh;
  animation: 40s ease-in-out infinite forwards boat_motion;
}

.boat2 {
  top: 86vh;
  left: 5vw;
  font-size: 10vh;
  animation: 35s ease-in-out infinite forwards boat_motion;
}

.leftest {
  border-radius: 2vh 0vh 0vh 2vh;
}

.rightest {
  border-radius: 0vh 2vh 2vh 0vh;
}

@keyframes boat_motion {
  from {
    transform: translateX(0px);
  }

  20% {
    transform: translateX(86vw);
  }

  40% {
    transform: translateX(86vw) rotateY(180deg);
  }

  60% {
    transform: translateX(0px) rotateY(180deg);
  }

  to {
    transform: translateX(0px) rotateY(0deg);
  }
}

@keyframes fish_motion {
  from {
    transform: translateX(0vw) rotateZ(12deg) rotateY(180deg);
  }

  2% {
    transform: translateX(2vw) rotateZ(0deg) rotateY(180deg);
  }

  4% {
    transform: translateX(4vw) rotateZ(-30deg) rotateY(180deg);
  }

  6% {
    transform: translateX(6vw) rotateZ(0deg) rotateY(180deg);
  }

  8% {
    transform: translateX(8vw) rotateZ(30deg) rotateY(180deg);
  }

  10% {
    transform: translateX(10vw) rotateZ(0deg) rotateY(180deg);
  }

  12% {
    transform: translateX(12vw) rotateZ(-30deg) rotateY(180deg);
  }

  14% {
    transform: translateX(14vw) rotateZ(0deg) rotateY(180deg);
  }

  16% {
    transform: translateX(16vw) rotateZ(30deg) rotateY(180deg);
  }

  18% {
    transform: translateX(18vw) rotateZ(0deg) rotateY(180deg);
  }

  20% {
    transform: translateX(20vw) rotateZ(-30deg) rotateY(180deg);
  }

  22% {
    transform: translateX(22vw) rotateZ(0deg) rotateY(180deg);
  }

  24% {
    transform: translateX(24vw) rotateZ(30deg) rotateY(180deg);
  }

  26% {
    transform: translateX(26vw) rotateZ(0deg) rotateY(180deg);
  }

  28% {
    transform: translateX(28vw) rotateZ(-30deg) rotateY(180deg);
  }

  30% {
    transform: translateX(30vw) rotateZ(0deg) rotateY(180deg);
  }

  32% {
    transform: translateX(32vw) rotateZ(30deg) rotateY(180deg);
  }

  34% {
    transform: translateX(34vw) rotateZ(0deg) rotateY(180deg);
  }

  36% {
    transform: translateX(36vw) rotateZ(-30deg) rotateY(180deg);
  }

  38% {
    transform: translateX(38vw) rotateZ(0deg) rotateY(180deg);
  }

  40% {
    transform: translateX(40vw) rotateZ(30deg) rotateY(180deg);
  }

  42% {
    transform: translateX(42vw) rotateZ(30deg) rotateY(180deg);
  }

  44% {
    transform: translateX(42vw) rotateZ(0deg) rotateY(0deg);
  }

  46% {
    transform: translateX(40vw) rotateZ(-30deg) rotateY(0deg);
  }

  48% {
    transform: translateX(38vw) rotateZ(0deg) rotateY(0deg);
  }

  50% {
    transform: translateX(36vw) rotateZ(30deg) rotateY(0deg);
  }

  52% {
    transform: translateX(34vw) rotateZ(0deg) rotateY(0deg);
  }

  54% {
    transform: translateX(32vw) rotateZ(-30deg) rotateY(0deg);
  }

  56% {
    transform: translateX(30vw) rotateZ(0deg) rotateY(0deg);
  }

  58% {
    transform: translateX(28vw) rotateZ(30deg) rotateY(0deg);
  }

  60% {
    transform: translateX(26vw) rotateZ(0deg) rotateY(0deg);
  }

  62% {
    transform: translateX(24vw) rotateZ(-30deg) rotateY(0deg);
  }

  64% {
    transform: translateX(22vw) rotateZ(0deg) rotateY(0deg);
  }

  66% {
    transform: translateX(20vw) rotateZ(30deg) rotateY(0deg);
  }

  68% {
    transform: translateX(17vw) rotateZ(0deg) rotateY(0deg);
  }

  70% {
    transform: translateX(15vw) rotateZ(-30deg) rotateY(0deg);
  }

  73% {
    transform: translateX(13vw) rotateZ(0deg) rotateY(0deg);
  }

  76% {
    transform: translateX(10vw) rotateZ(30deg) rotateY(0deg);
  }

  79% {
    transform: translateX(7vw) rotateZ(0deg) rotateY(0deg);
  }

  82% {
    transform: translateX(5vw) rotateZ(-30deg) rotateY(0deg);
  }

  85% {
    transform: translateX(3vw) rotateZ(0deg) rotateY(0deg);
  }

  89% {
    transform: translateX(0vw) rotateZ(30deg) rotateY(0deg);
  }

  91% {
    transform: translateX(0vw) rotateZ(0deg) rotateY(180deg);
  }

  94% {
    transform: translateX(0vw) translate(4px, 4px) rotateZ(-30deg)
      rotateY(180deg);
  }

  97% {
    transform: translateX(0vw) rotateZ(-30deg) rotateY(180deg);
  }

  to {
    transform: translateX(0vw) rotateZ(12deg) rotateY(180deg);
  }
}
